<div class="frontmatter">

  <!-- Title Page -->
  <h1 style="margin-top:3em; font-size:2.4em; text-align:center;">$title$</h1>
  <h2 style="text-align:center; font-weight:normal;">$subtitle$</h2>

  <div style="text-align:center; margin:2em 0;">
    <img src="$logo$" alt="Cover illustration" style="max-width:350px;">
  </div>

  <hr style="margin:3em 0;">
  

  <!-- Metadata Page (PDF analog) -->
  <div style="text-align:left; margin-top:5em;">

  <h2>$title$</h2>  
  <h3>$subtitle$</h3>

  <!-- Metadata Page (PDF analog) -->
    <table style="margin-top:5em; width:100%; border-collapse:collapse;">
      <tbody>
        <!-- <tr><td style="width:30%; font-weight:bold;">Title</td><td>$title$</td></tr> -->
        <!-- <tr><td style="font-weight:bold;">Subtitle</td><td>$subtitle$</td></tr> -->
        <tr><td style="font-weight:bold;">Affiliation</td><td>$affiliation$</td></tr>
        <tr><td style="font-weight:bold;">Institution</td><td>$institution$</td></tr>
        <tr><td style="font-weight:bold;">Author</td><td>$author$</td></tr>
        <!-- <tr><td style="font-weight:bold;">Copyright</td><td>$copyright$</td></tr>
        <tr><td style="font-weight:bold;">License</td><td>$license$</td></tr> -->
        <tr><td style="font-weight:bold;">Version</td><td>$version$</td></tr>
        <tr><td style="font-weight:bold;">Date</td><td>$date$</td></tr>
        <tr><td style="font-weight:bold;">State</td><td>$state$</td></tr>
        <tr><td style="font-weight:bold;">Source</td><td>$source$</td></tr>
      </tbody>
    </table>


    <h3>License</h3>
  
    <p>This work is licensed under the $license-name$ (<a href="$license-url$">$license$</a>).</p>
    
  </div>

  Copyright $copyright$

  <hr style="margin:4em 0;">

</div>


<script>
window.MathJax = {
  tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
  svg: { fontCache: 'global' }
};
</script>
<script src="lib/mathjax/tex-mml-chtml.js"></script>
